
.header-container {
  margin: 0px 40px;
  margin-bottom: calc(100vh - 40px);
  /*  40px so the 'ABOUT' title section shows   */
}

.header {
  margin: auto;
  margin-top: 15vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 200px;
}

.me-title {
  display: inline-block;
  margin: auto;
  margin-top: 40px;
  padding: 0px 60px;
  color: white;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Arsenal', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 5rem;
}

.me-title:hover {
  text-shadow: 1px 1px 5px blue
}

.background-image {
  height: 200vh;
}

.link-container {
  border: 0px dashed red;
  margin: auto 40px;
  text-align: center;
  display: flex;
  display: -webkit-flex;
  -ms-align-items: center;
  align-items: center;
}

.icon-link-heading {
  margin: auto;
  font-size: 5rem;
}

.link {
  margin: 20px 30px;
  color: black;
}
.link:visited {
  color: black;
}
.link:hover {
  text-shadow: 2px 5px 1px orange;
}

/* software developer */
.dev-symbol {
  font-size: 5rem;
  /**
   * Font options:
   */
  /*font-family: 'Slabo 27px', serif;*/
  /*font-family: 'Overpass Mono', monospace;*/
  font-family: 'Rubik', sans-serif;
}

.dev-title {
  margin: 2px;
  font-family: 'Overpass Mono', monospace;
}



/****************
 * ABOUT POP-UP
 ****************/

hr {
  margin: 5px 0px;
}

.abt-section {
  border: 0px dashed red;
  height: 100%;
  padding: 0px 20px;
  margin: 40px auto 0px auto;
  background-color: rgba(255,255,255,0.2);
  border-radius: 2px;
  max-width: 1200px;
  text-align: center;
}

.abt-title {
  border: 0px dashed red;
  padding: 12px;
  color: black;
  font-family: 'Rubik', sans-serif;
  letter-spacing: 0.5px;
}

.abt-title:hover {
  text-shadow: 0px 1px 1px orange;
}

.abt.row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row; /* works with row or column */
  flex-direction: row;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;

  /*align-items: center;*/
  /*justify-content: space-around;*/
}

.abt-col {
  border: 0px dotted red;
  border-radius: 3px;
  background-color: rgba(225, 226, 234,1);
  text-align: left;
  padding: 30px; /* 0px 10px */;
  margin: 0px auto 20px auto; /* 0px 10px */;
  font-family: 'Roboto Condensed';
  font-size: 1.75rem;
  height: 100%;
  width: 45%;
}

.abt-col-title {
  letter-spacing: 0.5px;
  font-style: bold;
  padding-left: 5px;
  margin-bottom: 8px;
  padding-bottom: 8px;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}

.skills.abt-col-title {
}

.skills-list {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.skills-list li {
  width: 50%;
}

.portrait-icon {
  border: 0px dashed red;
  opacity: 1;
  float: left;
  padding: 10px;
}

/************************
 * imported font options:
 ************************/

  /*font-family: 'Archivo Black', sans-serif;*/
  /*font-family: 'Roboto Condensed';*/
  /*font-family: 'Rubik', sans-serif;*/
  /*font-family: 'Fira Sans Extra Condensed', sans-serif;*/
